<h1 class="text-center mb-3">{{title}}</h1>
<ul class="list-group">
    {{#each results}}
    <li class="list-group-item">
        <h4 class="text-center ma-2"><a href='http://localhost:3000/user/category/manga/{{this.id}}'>{{this.category}}</a></h4>
    </li>
    {{/each}}
</ul>