<h1 class="text-center mb-3">{{title}} {{name}}</h1>
<ul class="list-group">
    {{#each result}}
    <li class="list-group-item">
        <h4 class="text-left ma-2">{{this.name}}</h4>
        <p>{{this.description}}</p>
    </li>
    {{/each}}
</ul>